* {
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

html, body {
    height: 100%;
}

.choice-box {
    display: flex;
    flex-direction: row;
    padding-top: 2vw;
    padding-bottom: 2vw;
    justify-content:space-around;
    background-color: aliceblue;
}

#form-box {
    float: left;
    border: none;
    padding: 1vw;
}

.options {
    margin: 2vw;
}

.list-item {
    padding: 2vw;
}

.bttn {
    font-size: 110;
}

a {
    text-decoration: none;
    color:black;
    text-decoration: underline;
}

p {
    text-align:left;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4vw;
}

.heading {
    background-color: #5886db;
    font-weight: 550;
    padding-top: 15px;
    padding-bottom: 2vw;
    width: 100%;
    height: 30px;
    text-align: center;
}

.subtitle {
    display: inline-block;
    max-width: 100%;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vw;
    text-align: left;
    background-color: aliceblue;
}

.section--head {
    font-weight:900;
    padding-left: 10px;
    padding-bottom: 20px;
}


#nav--list {
    background-color:#eeeeef;
    display: flex;
    justify-content: space-around;
    list-style: none; 
    height: 30px;
    padding-top: 15px;
}

thead {
    text-align: left;
    text-decoration: solid;
    padding-bottom: 10px;
}


.horizontal--blocker {
    padding-bottom: 6vw;
    background-color: #5886db;
}

.small--block {
    padding-bottom: 3vw;
    background-color: #5886db;
}



